[submodule "build/privacy-enabled-erc721"]
	path = build/privacy-enabled-erc721
	url = https://github.com/centrifuge/privacy-enabled-erc721.git
	branch = develop
[submodule "build/ethereum-bridge-contracts"]
	path = build/ethereum-bridge-contracts
	url = https://github.com/centrifuge/ethereum-bridge-contracts.git
	branch = master
[submodule "build/chainbridge-solidity"]
	path = build/chainbridge-solidity
	url = https://github.com/ChainSafe/chainbridge-solidity.git
	branch = master
